<section id="main-content">
  <section class="wrapper site-min-height">
    <div class="row">
      <div class="col-md" style="margin-left:20px; margin-right:20px;">
        <button type="button" class="btn btn-success mt-md-2 btnSpecial" data-toggle="modal" data-target="#myModalAdd">Add
          New</button>
        <table class="table table-hover table-bordered">
          <thead class="alert-danger">
            <tr>
              <td class="text-center">Code</td>
              <td class="text-center">CourseName</td>
              <td class="text-center">أسم الكورس</td>
              <td class="text-center">Operation</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of Courses;">
              <td class="text-center">{{ course.code }}</td>
              <td class="text-center">{{ course.crs_Name }}</td>
              <td class="text-center">{{ course.crs_AName }}</td>
              <td class="text-center">
                <button type="button" (click)="EditCourse(course.code)" class="btn btn-info" data-toggle="modal"
                  data-target="#myModal">Edit</button> &nbsp; 
                  <button type="button" (click)="getTeacher(course.code)" class="btn btn-primary" data-toggle="modal"
                  data-target="#myModalDetails">Teacher</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>

<!-- Modal for Edit and Update Course -->
<div id="myModal" *ngIf="Course" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center headerOfModal" style="color: rgb(255, 240, 240)">Edit Course's Information </h2>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateCourses(submitF)" #submitF="ngForm" class="form-group">

          <input type="hidden" [value]="Course.code" ngModel name="code" #code="ngModel">

          <label for="LN">Course Name</label>
          <input type="text" class="form-control" [ngModel]="Course.crs_Name" placeholder="Enter The Course Name" 
            name="crs_Name" #crs_Name="ngModel" required>

            <label for="LN">أسم الكورس</label>
          <input type="text" class="form-control" [ngModel]="Course.crs_AName" placeholder="أدخل أسم الكورس" 
            name="crs_AName" #crs_AName="ngModel" required>

          <div class="form-group">
              <label for="staffId">Stuff Name</label>
              <select name="staffId" [ngModel]="Course.staffId" #staffId="ngModel" class="form-control">
                <option *ngFor="let s of Stuffs"  value="{{s.id}}">{{s.fname}} {{s.lname}}</option>
              </select>
              </div>

          <div class="form-group">
              <label for="levelID">Level Name</label>
              <select name="levelID" [ngModel]= "Course.levelid" #levelID="ngModel" class="form-control">
                <option *ngFor="let l of Levels"  value="{{l.id}}">{{l.levelName}}</option>
              </select>
              </div>


              <button type="submit" class="btn btn-success">save</button>
              &nbsp; &nbsp;
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>            
            </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal content For Add Course-->
<div id="myModalAdd" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-center headerOfModal" style="color: rgb(255, 240, 240)">Course Form </h2>
        </div>
        <div class="modal-body">

          <form (ngSubmit)="AddCourse(subitForm)" #subitForm="ngForm" class="form-group">

            <label for="LN">Course Name</label>
            <input type="text" class="form-control" id="LN" ngModel name="crs_Name" #crs_Name="ngModel" required>
            <p class="alert-danger" *ngIf="!crs_Name.valid && crs_Name.touched">Course Name In English Is Required</p>
            <br />

            <label for="AFN"> أسم الكورس</label>
            <input type="text" class="form-control" id="AFN" ngModel name="crs_AName" #crs_AName="ngModel" required>
            <p class="alert-danger" *ngIf="!crs_AName.valid && crs_AName.touched">اسم الكورس باللغه العربية مطلوب</p>
            <br />

            <div class="form-group mb-2">
                <label for="staffId">Stuff Name</label>
                <select name="staffId" ngModel #staffId="ngModel" class="form-control">
                  <option *ngFor="let s of Stuffs"  value="{{s.id}}">{{s.fname}} {{s.lname}}</option>
                </select>
                </div>

            
            <div class="form-group">
                <label for="levelID">Level Name</label>
                <select name="levelID" ngModel #levelID="ngModel" class="form-control">
                  <option *ngFor="let l of Levels"  value="{{l.id}}">{{l.levelName}}</option>
                </select>
                </div>


                <button type="submit" class="btn btn-success">save</button>
                &nbsp; &nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
          </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal content For Add Course-->
<div id="myModalDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <legend>Course Teacher</legend>
              <ul>
                <li>Teacher Name: {{teacher.fname}} {{teacher.lname}}</li>
                <li>Teacher Eamil:  {{teacher.email}}</li>
              </ul>          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>