<section id="main-content" class="content-wrap">
  <section class="wrapper site-min-height">
    <div class="row">
      <div class="col-md" style="margin-left:20px; margin-right:20px;">
        <button type="button" class="btn btn-success mt-md-2 btnSpecial" data-toggle="modal"
          data-target="#myModalAdd">Add New</button>
        <table class="table table-hover table-bordered mt-md-2">
          <thead class="alert-danger">
            <tr>
              <td class="text-center">Id</td>
              <td class="text-center">Title</td>
              <td class="text-center">Arabic Title</td>
              <td class="text-center">Status</td>
              <td class="text-center">Content</td>
              <td class="text-center">Ar Content</td>
              <td class="text-center">Date</td>
              <td class="text-center">Operation</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let n of News;">
              <td class="text-center">{{ n.id }}</td>
              <td class="text-center">{{ n.Title }}</td>
              <td class="text-center">{{ n.ATitle }}</td>
              <td class="text-center">{{ n.status }}</td>
              <td class="text-center">{{ n.Content }}</td>
              <td class="text-center">{{ n.AContent }}</td>
              <td class="text-center">{{ n.NewsDate }}</td>
              <td class="text-center">
                <!-- <button class="btn btn-danger" (click)="DeleteNews(n.id)">Delete</button>&nbsp; -->
                <button type="button" (click)="EditNews(n.id)" class="btn btn-info" data-toggle="modal"
                  data-target="#myModal">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>
<!-- Modal -->
<div id="myModal" *ngIf="myNews" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center headerOfModal" style="color: rgb(255, 240, 240)">Edit News' Information </h2>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateNews(submitF)" #submitF="ngForm" class="form-group">

          <input type="hidden" [value]="myNews.id" ngModel name="id" #id="ngModel">

          <label>News Title</label>
          <input type="text" class="form-control"  [ngModel]="myNews.Title" name="Title"
            #Title="ngModel" required>

            <label>عنوان الخبر</label>
          <input type="text" class="form-control"  [ngModel]="myNews.ATitle"
            name="ATitle" #ATitle="ngModel" required>

            <label>ٍtatus</label>
          <input type="text" class="form-control"  [ngModel]="myNews.status"
            name="status" #status="ngModel" required>

            <label>News Content</label>
          <textarea class="form-control" cols="40" rows="15" [ngModel]="myNews.Content"
            name="Content" #Content="ngModel" required></textarea>

            <label>محتوي الخبر</label>
          <textarea class="form-control" cols="40" rows="15" 
            [ngModel]="myNews.AContent" name="AContent" #AContent="ngModel" required></textarea>

            <label>News Date</label>
          <input type="date" class="form-control" [ngModel]="myNews.NewsDate"
            name="NewsDate" #NewsDate="ngModel" required>

          <button type="submit" class="btn btn-success">save</button>
          &nbsp; &nbsp;
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="myModalAdd" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center headerOfModal" style="color: rgb(255, 240, 240)">News Form </h2>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="AddNews(subitForm)" #subitForm="ngForm" class="form-group">

            <label>News Title</label>
          <input type="text" class="form-control"  ngModel name="Title" #Title="ngModel"
            required>
          <p class="alert-danger" *ngIf="!Title.valid && Title.touched">Title Is Required</p><br />

          <label>عنوان الخبر</label>
          <input type="text" class="form-control" ngModel name="ATitle"
            #ATitle="ngModel" required>
          <p class="alert-danger" *ngIf="!ATitle.valid && ATitle.touched">Ar Title Is Required</p><br />

          <label>News Status</label>
          <input type="text" class="form-control"  ngModel name="status"
            #status="ngModel" required>
          <p class="alert-danger" *ngIf="!status.valid && status.touched">status Is Required</p><br />


          <label>News Content</label>
          <textarea class="form-control" cols="40" rows="15" ngModel name="Content"
            #Content="ngModel" required></textarea>
          <p class="alert-danger" *ngIf="!Content.valid && Content.touched">Content Is Required</p><br />


          <label>محتوي الخبر</label>
          <textarea class="form-control" cols="40" rows="15" [value]="myNews.AContent"
            placeholder="Enter Your Arabic Content" ngModel name="AContent" #AContent="ngModel" required></textarea>
          <p class="alert-danger" *ngIf="!AContent.valid && AContent.touched">AContent Is Required</p><br />


          <label>News Date</label>
          <input type="date" class="form-control" ngModel name="NewsDate"
            #NewsDate="ngModel" required>
          <p class="alert-danger" *ngIf="!NewsDate.valid && NewsDate.touched">NewsDate Is Required</p><br />

          <button type="submit" class="btn btn-success">save</button>
          &nbsp; &nbsp;
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
