<!-- <section id="main-content" class="content-wrap">
    <section class="wrapper site-min-height">
      <div class="container owl-carousel row justify-content-center">
      <div class="your-class col-12">
        
        
      </div>
    </div>
</section>
</section> -->


<!-- <div class="owl-carousel">
    <div>         <img style="height: 700px;" src="../../assets/img/ui-sherman.jpg">
    </div>
    <div> <img style="height: 700px;" src="../../assets/img/ui-divya.jpg"> </div>
    <div> <img style="height: 700px;" src="../../assets/img/ui-danro.jpg"> </div>

  </div> -->
<!-- <div class="wrapper">
  <div class="owl-carousel owl-theme">
    <div> <img style="height: 700px;" src="../../assets/img/ui-sherman.jpg"></div>
    <div> <img style="height: 700px;" src="../../assets/img/ui-divya.jpg"> </div>
    <div> <img style="height: 700px;" src="../../assets/img/ui-danro.jpg"> </div>
  </div>
</div> -->
<!-- <div class="wrapper">
    <div class="owl-carousel owl-theme">
        <div class="item col-2"><img style="height: 700px;" src="../../assets/img/ui-sherman.jpg"></div>
        <div class="item col-2"><img style="height: 700px;" src="../../assets/img/ui-sherman.jpg"></div>
        <div class="item col-2"><img style="height: 700px;" src="../../assets/img/ui-sherman.jpg"></div>
        <div class="item col-2"><img style="height: 700px;" src="../../assets/img/ui-sherman.jpg"></div>
        <div class="item col-2"><img style="height: 700px;" src="../../assets/img/ui-sherman.jpg"></div>
    </div>
</div> -->
