<section id="main-content">
  <section class="wrapper site-min-height">
    <div class="row">
      <div class="col-md" style="margin-left:20px; margin-right:20px;">
        <button type="button" class="btn btn-success mt-md-2 btnSpecial" data-toggle="modal" data-target="#myModalAdd">Add
          New</button>
        <table class="table table-hover table-bordered">
          <thead class="alert-danger">
            <tr>
              <td class="text-center">ID</td>
              <td class="text-center">FirstName</td>
              <td class="text-center">LastName</td>
              <td class="text-center">الأسم الأول</td>
              <td class="text-center">الأسم الأخير</td>
              <td class="text-center">Email</td>
              <td class="text-center">Password</td>
              <td class="text-center">Phone</td>
              <td class="text-center">Date of birth</td>
              <td class="text-center">Join Date</td>
              <td class="text-center">Fired Date</td>
              <td class="text-center">Status</td>
              <td class="text-center">Parent Id</td>
              <td class="text-center">Class Room</td>
              <td class="text-center">Operation</td>
              <!---------------------------- Level ID Still not included ------------------------------------------------>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let std of Students;">
              <td class="text-center">{{ std.id }}</td>
              <td class="text-center">{{ std.fname }}</td>
              <td class="text-center">{{ std.lname }}</td>
              <td class="text-center">{{ std.Afname }}</td>
              <td class="text-center">{{ std.Alname }}</td>
              <td class="text-center">{{ std.email }}</td>
              <td class="text-center">{{ std.pass }}</td>
              <td class="text-center">{{ std.phone }}</td>
              <td class="text-center">{{ std.DOB }}</td>
              <td class="text-center">{{ std.JoinDate }}</td>
              <td class="text-center">{{ std.FiredDate }}</td>
              <td class="text-center">{{ std.status }}</td>
              <td class="text-center">{{ std.ParentID }}</td>
              <td class="text-center">{{ std.classRoom }}</td>
              <td class="text-center">
                <!-- <button class="btn btn-danger" (click)="DeleteStudent(std.id)">Delete</button>&nbsp; -->
                <button type="button" (click)="EditStudent(std.id)" class="btn btn-info" data-toggle="modal"
                  data-target="#myModal">Edit</button>
              </td>
              <!---------------------------- Level ID Still not included ------------------------------------------------>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>

<!-- Modal for Edit and Update Student -->
<div id="myModal" *ngIf="Student" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-center headerOfModal" style="color: rgb(255, 240, 240)">Edit Student's Information</h2>
        </div>
      <div class="modal-body">

        <form (ngSubmit)="updateStudents(submitF)" #submitF="ngForm" class="form-group">

          <input type="hidden" [value]="Student.id" ngModel name="id" #id="ngModel">

          <label class="lbl" for="FN">First Name</label>
          <input type="text" class="form-control" [ngModel]="Student.fname" placeholder="Enter The First Name" 
            name="fname" #fname="ngModel" required>
            <p class="alert-danger" *ngIf="!fname.valid && fname.touched">First Name Is Required</p><br />

            <label class="lbl" for="FN">Last Name</label>
          <input type="text" class="form-control" [ngModel]="Student.lname" placeholder="Enter The Last Name" 
            name="lname" #lname="ngModel" required>
            <p class="alert-danger" *ngIf="!lname.valid && lname.touched">Last Name Is Required</p><br />


            <label class="lbl" for="AFN">الأسم الأول</label>
          <input type="text" class="form-control" [ngModel]="Student.Afname" placeholder="أدخل الأسم الأول" 
            name="Afname" #Afname="ngModel" required>
            <p class="alert-danger" *ngIf="!Afname.valid && Afname.touched">الأسم الأول مطلوب</p><br />

            <label class="lbl" for="ALN">الأسم الأخير</label>
            <input type="text" class="form-control" [ngModel]="Student.Alname" placeholder="أدخل الأسم الأخير" 
            name="Alname" #Alname="ngModel" required>
          <p class="alert-danger" *ngIf="!Alname.valid && Alname.touched">الإسم الأخير مطلوب</p><br />


          <label class="lbl" for="ALN">Email</label>
          <input type="text" class="form-control" [ngModel]="Student.email" placeholder="Enter The Email" ngModel
          name="email" #email="ngModel" required />
          <p *ngIf="formSubmit || (email.errors?.required && email.touched)">Email is Required</p>
          <p *ngIf="formSubmit || (email.errors?.pattern && email.touched)">Email is InValid</p>
          <br>


          <label class="lbl" for="ALN">Password</label>
          <input type="text" class="form-control" [ngModel]="Student.pass" placeholder="Enter The Password" 
            name="pass" #pass="ngModel" required>
            <p class="alert-danger" *ngIf="!pass.valid && pass.touched">Password Is Required</p><br />

            
            <label class="lbl" for="ALN">Mobile Phone</label>
          <input type="text" class="form-control" [ngModel]="Student.phone" placeholder="Enter The Phone" 
            name="phone" #phone="ngModel" required>
            <p class="alert-danger" *ngIf="!phone.valid && phone.touched">Phone Is Required</p><br />


            <label class="lbl" for="ALN">Date of birth</label>
          <input type="date" class="form-control" [ngModel]="Student.DOB" placeholder="Enter The Date of birth" 
            name="DOB" #DOB="ngModel" required>
            <p class="alert-danger" *ngIf="!DOB.valid && DOB.touched">Date of birth Is Required</p><br />



            <label class="lbl" for="ALN">Join Date</label>
          <input type="date" class="form-control" [ngModel]="Student.JoinDate" placeholder="Enter The Join Date" 
            name="JoinDate" #JoinDate="ngModel" required>
            <p class="alert-danger" *ngIf="!JoinDate.valid && JoinDate.touched">Join Date Is Required</p><br />


          <label class="lbl" for="ALN">Fired Date</label>
          <input type="date" class="form-control" [ngModel]="Student.FiredDate" placeholder="Enter The Fired Date" 
            name="FiredDate" #FiredDate="ngModel" required>
            <p class="alert-danger" *ngIf="!FiredDate.valid && FiredDate.touched">Fired Date Is Required</p><br />


            <label class="lbl" for="ALN">Status</label>
          <input type="text" class="form-control" [ngModel]="Student.status" placeholder="Choose The Status" 
            name="status" #status="ngModel" required>
            <p class="alert-danger" *ngIf="!status.valid && status.touched">Status Is Required</p><br />
          
          
            <label for="classRoom" class="col-md-lg lbl">classRoom</label>
          <input type="text" class="form-control" [ngModel]="Student.classRoom" placeholder="Enter The classRoom" ngModel
            name="classRoom" #classRoom="ngModel" required>
            <p class="alert-danger" *ngIf="!classRoom.valid && classRoom.touched">classRoom Is Required</p><br />


          <div class="form-group">
            <label class="lbl" for="ParentID">Parent</label>
            <select name="ParentID" [ngModel]="Student.ParentID" #ParentID="ngModel" class="form-control">
              <option *ngFor="let p of Parents"  value="{{p.id}}">{{p.fname}} {{p.lname}}</option>
            </select>
            </div>

            <div class="form-group">
                <label class="lbl" for="ParentID">Levels </label>
                <select name="levelID" [ngModel]="Student.levelId" #levelID="ngModel" class="form-control">
                  <option *ngFor="let l of Levels"  value="{{l.id}}">{{l.levelName}}</option>
                </select>
                </div>

            <div class="form-group">
                <label class="lbl" for="ParentID">Role</label>
                <select name="roleID" [ngModel]="Student.roleID" #roleID="ngModel" class="form-control">
                  <option *ngFor="let r of Roles"  value="{{r.id}}">{{r.RuleName}}</option>
                </select>
                </div>

                <button type="submit" class="btn btn-info">save</button>
                &nbsp; &nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
            </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal content For Add Student-->
<div id="myModalAdd" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-center headerOfModal" style="color: rgb(255, 240, 240)">Student Form</h2>
        </div>
      <div class="modal-body">
          <form (ngSubmit)="AddStudent(subitForm)" #subitForm="ngForm" class="form-group">

            <label class="lbl" for="FN">First Name</label>
            <input type="text" class="form-control" id="FN" ngModel name="fname" #fname="ngModel" required>
            <p class="alert-danger" *ngIf="!fname.valid && fname.touched">Student's First Name In English Is
              Required</p>
            <br />

            <label class="lbl" for="LN">Last Name</label>
            <input type="text" class="form-control" id="LN" ngModel name="lname" #lname="ngModel" required>
            <p class="alert-danger" *ngIf="!lname.valid && lname.touched">Student's Last Name In English Is
              Required</p>
            <br />

            <label class="lbl" for="AFN">الأسم الأول</label>
            <input type="text" class="form-control" id="AFN" ngModel name="Afname" #Afname="ngModel" required>
            <p class="alert-danger" *ngIf="!Afname.valid && Afname.touched">الأسم الأول باللغه العربية مطلوب</p>
            <br />

            <label class="lbl" for="ALN">الأسم الأخير</label>
            <input type="text" class="form-control" id="ALN" ngModel name="Alname" #Alname="ngModel" required>
            <p class="alert-danger" *ngIf="!Alname.valid && Alname.touched">الأسم الأخير باللغه العربية مطلوب
            </p>
            <br />

            <label class="lbl" for="ALN">Email</label>
            <input type="email" class="form-control" id="MAIL" ngModel name="email" #email="ngModel" required>
            <p class="alert-danger" *ngIf="!email.valid && email.touched">Student's Email Is Required</p><br />

            <label class="lbl" for="ALN">Password</label>
            <input type="password" class="form-control" ngModel name="pass" #pass="ngModel" required>
            <p class="alert-danger" *ngIf="!pass.valid && pass.touched">Student's password Is Required</p><br />

            <label class="lbl" for="ALN">Mobile Phone</label>
            <input type="tel" class="form-control" ngModel name="phone" #phone="ngModel" required>
            <p class="alert-danger" *ngIf="!phone.valid && phone.touched">Student's Mobile Phone Is Required</p>
            <br />

            <label class="lbl" for="ALN">Date of birth</label>
            <input type="date" class="form-control" ngModel name="DOB" #DOB="ngModel" required>
            <p class="alert-danger" *ngIf="!DOB.valid && DOB.touched">Student's Date of birth Is Required</p>
            <br />

            <label class="lbl" for="ALN">Join Date</label>
            <input type="date" class="form-control" ngModel name="JoinDate" #JoinDate="ngModel" required>
            <p class="alert-danger" *ngIf="!JoinDate.valid && JoinDate.touched">Student's Join Date Is Required
            </p>
            <br />

            <label class="lbl" for="ALN">Fired Date</label>
            <input type="date" class="form-control" ngModel name="FiredDate" #FiredDate="ngModel" required>
            <p class="alert-danger" *ngIf="!FiredDate.valid && FiredDate.touched">Student's Fired Date Is
              Required</p>
            <br />

            <div class="form-group">
                <label class="lbl" for="ParentID">Role</label>
                <select name="roleID" ngModel #roleID="ngModel" class="form-control">
                  <option *ngFor="let r of Roles"  value="{{r.id}}">{{r.RuleName}}</option>
                </select>
                </div>
                <div class="form-group">
                    <label class="lbl" for="ParentID">Levels </label>
                    <select name="levelId" ngModel #levelID="ngModel" class="form-control">
                      <option *ngFor="let l of Levels"  value="{{l.id}}">{{l.levelName}}</option>
                    </select>
                    </div>
            <label class="lbl" for="ALN" class="col-md-lg">Status</label>
            <input type="text" class="form-control" ngModel name="status" #Status="ngModel" required>
            <p class="alert-danger" *ngIf="!Status.valid && Status.touched">Status Is Required</p><br />

            <label class="lbl" for="classRoom" class="col-md-lg">classRoom</label>
            <input type="text" class="form-control" placeholder="Enter The classRoom" ngModel
              name="classRoom" #classRoom="ngModel" required>
            <p class="alert-danger" *ngIf="!classRoom.valid && classRoom.touched">classRoom Is Required</p><br />

            <div class="form-group">
              <label class="lbl" for="ParentID">Parent</label>
              <select name="ParentID" ngModel #ParentID="ngModel" class="form-control">
                <option *ngFor="let p of Parents"  value="{{p.id}}">{{p.fname}} {{p.lname}}</option>
              </select>
              </div>

            <button type="submit" class="btn btn-success">save</button>
            &nbsp; &nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>          
          </form>
      </div>
    </div>
  </div>
</div>