 <!-- ********************************************* MAIN SIDEBAR MENU ********************************************** -->
 <section id="container" class="collapse in show" id="collapseExample">
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse" style="overflow: auto;">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="../../assets/img/ui-sherman.jpg" class="img-circle"
                width="80"></a></p>
          <h5 class="centered">Sam Soffes</h5>
          <li class="sub-menu">         
  
          <li class="sub-menu">
            <a routerLink="/Staff/Courses" role="button">
              <i class="fa fa-desktop"></i>
              <span>Courses</span>
            </a>
          </li>

          <li class="sub-menu">
              <a routerLink="/Staff/Books" role="button">
                <i class="fa fa-desktop"></i>
                <span>Books</span>
              </a>
            </li>

            <li class="sub-menu">
                <a routerLink="/Staff/Absences" role="button">
                  <i class="fa fa-desktop"></i>
                  <span>Absences</span>
                </a>
              </li>

              
         
  
          <li class="sub-menu">
            <a routerLink="/Staff/Tasks" role="button">
              <i class="fa fa-desktop"></i>
              <span>Tasks</span>
            </a>
          </li>

        </ul>
      </div>
    </aside>
  </section>
  <!--sidebar end-->
  <router-outlet></router-outlet>